.sidenav-buttons ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidenav-buttons li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 0;
  padding: 0;
  border-color: rgba(0, 0, 0, 0.06);
  /* color: rgba(255, 255, 255, 0.87); */
}

.sidenav-buttons li > a {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  transition: all 0.3s;
  padding: 0 16px;
  position: relative;
}

.sidenav-buttons li > a.is-selected,
.sidenav-buttons li > a:focus,
.sidenav-buttons li > a:hover {
  background: #fafafa;
  color: #3f51b5;
}

.sidenav-buttons li > a:hover {
  cursor: pointer;
}

.sidenav-buttons h3 {
  border: none;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;
  background: rgba(0, 0, 0, 0.32);
  color: rgba(255, 255, 255, 0.87);
}

.spacer {
  flex: 1 1 auto;
}
